basic_demo.X/nbproject/Makefile-genesis.properties
basic_demo.X/nbproject/Makefile-*.mk
basic_demo.X/nbproject/Package-*.bash
basic_demo.X/nbproject/private/
basic_demo.X/build/
basic_demo.X/dist
basic_demo.X/funclist
basic_demo.X/disassembly/
