luke.X/nbproject/Makefile-genesis.properties
luke.X/nbproject/Makefile-*.mk
luke.X/nbproject/Package-*.bash
luke.X/nbproject/private/
luke.X/build/
luke.X/dist
luke.X/funclist
luke.X/disassembly/
luke.X/_old/
