dmm.X/nbproject/Makefile-genesis.properties
dmm.X/nbproject/Makefile-*.mk
dmm.X/nbproject/Package-*.bash
dmm.X/nbproject/private/
dmm.X/build/
dmm.X/dist
dmm.X/funclist
dmm.X/disassembly/
dmm.X/_old/
firmware.dfu
firmware.hex
