chopper_hub.X/nbproject/Makefile-genesis.properties
chopper_hub.X/nbproject/Makefile-*.mk
chopper_hub.X/nbproject/Package-*.bash
chopper_hub.X/nbproject/private/
chopper_hub.X/build/
chopper_hub.X/dist
chopper_hub.X/funclist
chopper_hub.X/disassembly/
